USE [master]
GO
/****** Object:  Database [TASTIT]    Script Date: 10/3/2021 14:51:51 ******/
CREATE DATABASE [TASTIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TASTIT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TASTIT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TASTIT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TASTIT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TASTIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TASTIT]
GO
/****** Object:  Table [dbo].[RESTAURANTES]    Script Date: 10/3/2021 14:51:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURANTES](
	[IDRESTAURANTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[RUT] [varchar](100) NULL,
	[TIPO] [varchar](50) NULL,
	[FECHA] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RESTAURANTES] ON 

INSERT [dbo].[RESTAURANTES] ([IDRESTAURANTE], [NOMBRE], [RUT], [TIPO], [FECHA]) VALUES (2, N'IL MONDO DE LA PIZZA', N'2010054775777', N'RESTAURANTE', CAST(N'2021-10-03T03:41:31.000' AS DateTime))
INSERT [dbo].[RESTAURANTES] ([IDRESTAURANTE], [NOMBRE], [RUT], [TIPO], [FECHA]) VALUES (6, N'LA PASIVA', N'120115448455', N'RESTAURANTE', CAST(N'2021-10-03T15:54:19.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RESTAURANTES] OFF
GO
USE [master]
GO
